@charset "UTF-8";


button{
	background:none;
	border:none;
	margin:3px;
}
.icon-id{
	width:70px;
	height:70px;
	transition: transform 0.2s ease;
}
.icon-id:hover{
	transform: translateY(-5px);

}
.icon-id:active{
	filter: drop-shadow(0 0 8px #ffff00)
            drop-shadow(0 0 15px #ffff00);
    transform: scale(0.95);
}
.icon-box{
	margin:10px auto;
	background:#ffffff;
	text-align:center;
	border-radius: 10px;
	width:90%;
	border:solid 1px gray;
	padding:15px 0;
}
.back-button{
	background-color:#98fb98;
	border:solid 1px gray;
	border-radius: 5px;
	color:#000000;
	padding:7px 10px;
	margin-left:25px;
	text-decoration: none;
}
.iconPng{
	width:100%;
	margin-top:30px;
}
h2{
	text-align:center;
}

