@charset "UTF-8";

.my_page_user_info{
    border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    
    justify-self:center;
    font-size: large;
}
#circle {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.kihon{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;
    margin-bottom: 25px;
    padding: 30px 10px;
    color: #333333;              /* 文字の色 */
    text-decoration: none;       /* 下線を消す */
    
	
}
.pass{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
    padding: 30px 10px;
    color: #333333;              /* 文字の色 */
    text-decoration: none;       /* 下線を消す */
}

.logout{
	position:absolute;
	left:60px;
	border-radius:30px; 
    width: 40%;
    height: 30px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
    color: #333333;              /* 文字の色 */
    text-decoration: none;       /* 下線を消す */
    margin: 5px;
}

.taikai{
	position:absolute;
	right:50px;	
	border-radius:20px; 
    width: 40%;
    height: 30px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
    color: #333333;              /* 文字の色 */
    text-decoration: none;       /* 下線を消す */
    
}


/* 画像の「大きな角丸の箱」を作る部分 */
.form-container {
  max-width: 600px;         /* 横幅の最大値 */
  border: 2px solid #333;    /* 黒い枠線 */
  border-radius: 40px;       /* 大きな角丸（画像のように丸くする） */
  padding: 50px 50px 80px 50px;             /* 内側の余白 */
  background-color: #fff;
}


.button .back-button{
	position:absolute;
	left:90px;
	text-align: center;
    border: none;
    padding: 10px;
    width: 80px;
    background-position: center;
    background-color: #98fb98;
    color: #556b2f;
    font-size :0.7rem;
    display: block;
    margin-top: 20px;
}
    
    
.button .regist-button{
	position:absolute;
	right:80px;
	border: none;
    padding: 10px;
    width: 80px;
    background-position: center;
    background-color: #008000;
    color: #FFFFFF;
    font-size :0.7rem;
    display: block;
    margin-top: 20px;
}