@charset "UTF-8";

.my_page_user_info{
    border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    
    justify-self:center;
    font-size: large;
}
#circle {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.kihon{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;
    margin-bottom: 25px;
	
}
.pass{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
}

.logout{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
}

.taikai{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
}