@charset "UTF-8";

.pass{
	border-radius:20px; 
    width: 75%;
    height: 90px;
    background-color: rgb(135, 247, 163);
    border:3px solid rgba(62, 62, 62, 0.525);
    text-align: center;
    justify-self:center;
    font-size: large;	
    margin-bottom: 25px;
    padding: 30px 10px;
    color: #333333;              /* 文字の色 */
    text-decoration: none;       /* 下線を消す */
}

.password{
	color: #333333;              /* 文字の色 */
    text-decoration: none; 	 		 /* 下線を消す */
	
}
/* 画像の「大きな角丸の箱」を作る部分 */
.form-container {
	margin:10px auto;
	background:#ffffff;
	text-align:center;
	border-radius: 20px;
	width:90%;
	border:solid 3px gray;
	padding:15px 0;
}


.button .back-button{
	position:absolute;
	left:90px;
	text-align: center;
    border: none;
    padding: 10px;
    width: 80px;
    background-position: center;
    background-color: #98fb98;
    color: #000000;
    font-size :0.7rem;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.eye{
	background:#DDDDDD;
	border:solid 1px gray;
	width:40px;
	border-radius: 3px;
	text-align:center;
	height:30px;
	box-shadow: 0 0 5px gray;
}
    
.button .regist-button{
	position:absolute;
	right:80px;
	border: none;
    padding: 10px;
    width: 80px;
    background-position: center;
    background-color: #008000;
    color: #FFFFFF;
    font-size :0.7rem;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
}
table{
	margin:0 auto;
}
h2{
	text-align:center;
	font: 1.2em "Fira Sans", sans-serif;
}
.right{
	text-align:right;
	margin-right:30px;
	margin-top:10px;
}
.message{
	text-align:center;
	color:red;
}