@charset "UTF-8";



.tab-menu ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
    display: flex; /* 横並びにする設定 */
    justify-content: center; /* 中央に寄せる */
    gap: 100px; /* メニュー同士の隙間 */
    font-size: 20px;
    background-color: #22fc4d;
    border-radius:40px;
}
.tab-menu li {
    
    justify-content: center; /* 中央に寄せる */
    background-color: #22fc4d;
}

/*真ん中の仕切り*/
.tab-menu li:not(:last-child) {
    position: relative; /* 線の基準位置にする */
}

.tab-menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;          /* 上下の余白（10%短くしています。0にすると端から端まで引かれます） */
    bottom: 0;       /* 上下余白 */
    right: -50px;      /* ★gap(100px)のちょうど半分の位置！ */
    width: 2px;        /* 線の太さ */
    background-color: #333; /* 線の色（少し暗めのグレー。お好みで変えてください） */
}
.tab-menu a {
    display: block; /* ★ここが一番重要！aタグを箱型に広げます */
    padding: 0 0; /* 上下左右に余白をつけて、クリックできる「面」を作る */
    color: #ffffff; 
}


a:link,     /* まだ飛んでいない通常のリンク */
a:visited,  /* 飛んだ形跡のあるリンク */
a:hover,    /* マウスを上に乗せたとき */
a:active {  /* カチッとクリックした瞬間 */
  text-decoration: none;
}
.searchId{
	font-size:17px;
	width: 62%;
	box-sizing: border-box;
}
.search-area{
	font-size: 17px;
	display: flex;
    justify-content: center;
    margin:0 0 10px 0;
}
.fa-magnifying-glass{
  font-size:17px;
  width:20px;
  height:0px;
  color:rgba(0, 0, 0, 0.778);
  align-items:center;
}

.delete{
  font-size:15px;
  width:30px;
  color:rgba(0, 0, 0, 0.778);
  margin:0 10px 0 10px;
}

.fa-trash{
  font-size:15px;
  width:20px;
  height:0px;
  color:rgba(0, 0, 0, 0.778);
  align-items:center;
}
.delete-btn{
	font-size:15px;
	background-color: #ff0000;
	border-radius:3px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	position:fixed;bottom:18%;
	
}
.friend-icon{

	gap:10px;
	align-items:center;
	background:white;
    width:200px;
    height:100px;
    max-width:60%;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    border-radius:10px;
    margin:0 auto;
    vertical-align: middle;
    padding-left:65px;
    padding-top:15px;
    
}

.deletefriend{
	display:flex;
	align-items:center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	
}
.delete-target{
	margin:0 20px 0 0;
}
#img{
	width: 40px;
	height: auto;
}