@charset "UTF-8";



.tab-menu ul {
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
    display: flex; /* 横並びにする設定 */
    justify-content: center; /* 中央に寄せる */
    gap: 100px; /* メニュー同士の隙間 */
    font-size: 20px;
    background-color: #22fc4d;
    border-radius:40px;
}
.tab-menu li {
    
    justify-content: center; /* 中央に寄せる */
    background-color: #22fc4d;
}

/*真ん中の仕切り*/
.tab-menu li:not(:last-child) {
    position: relative; /* 線の基準位置にする */
}

.tab-menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;          
    bottom: 0;       
    right: -50px;     
    width: 2px;       
    background-color: #333;
}
.tab-menu a {
    display: block;
    padding: 0 0; 
    color: #ffffff; 
}


a:link,     
a:visited,  
a:hover,   
a:active {  
  text-decoration: none;
}
.searchId{
	font-size:17px;
	width: 62%;
	box-sizing: border-box;
}
.search-area{
	font-size: 17px;
	display: flex;
    justify-content: center;
    margin:0 0 30px 0;
}
.fa-magnifying-glass{
  font-size:17px;
  width:20px;
  height:0px;
  color:rgba(0, 0, 0, 0.778);
  align-items:center;
}

.delete{
  font-size:15px;
  width:30px;
  color:rgba(0, 0, 0, 0.778);
  margin:0 10px 0 10px;
}

.fa-trash{
  font-size:15px;
  width:20px;
  height:0px;
  color:rgba(0, 0, 0, 0.778);
  align-items:center;
}
.delete-btn{
	font-size:19px;
	background-color: #ff7171;
	border-radius:3px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	position:fixed;bottom:18%;
	
}
.friend-icon{
	font-size:21px;
	background: #ffffff;
    width: 94%;          
    max-width: 450px;    
    margin: 2px auto;  
    border: 2px solid #0b2434; 
    border-radius: 15px; 
    
}

.deletefriend{
	display:flex;
	align-items:center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	   margin-bottom:5px;
}
.delete-target{
	
	margin:0 10px 0 0;
}

.icon-id{
	width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover
}

.friend {
    display: flex;
    align-items: center; 
    padding: 0 10px 0 10px;
}

.friend-info {
    
    
    margin-left: 20px;
    margin-top: 0;     
    margin-bottom: 0;    
    flex-grow: 1;
    text-align: left;
}

.friend-point {
    font-size: 21px;
    color: #333;
    text-align: right;
}